*{
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft PhagsPa', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  
}

.container{
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.titleName{
  font-weight:bold;
  font-size: 48px;
  text-align: center;
}
.button-container{
  margin-left: auto
}

.nav-container{
  margin-left: auto
}


Button{
  text-transform: none;
}