* {
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft PhagsPa",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #274450;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.titleName {
  flex-grow: 1;
  font-weight: bold;
  font-size: 48px;
}

.postGrid {
  padding-top: 4rem;
}
h1.homeHeaders {
  text-shadow: 8px 8px black;
  padding-top: 6rem;
  color: white;
  text-align: center;
  font-size: 80px;
}
h2.homeHeaders {
  text-shadow: 5px 5px black;
  padding-top: 1rem;
  color: white;
  text-align: center;
  font-size: 56px;
}
h3.homeHeaders {
  flex-grow: 1;
  text-align: center;
  padding-top: 4rem;
  color: white;
  text-align: center;
  font-size: 36px;
}
.button {
  background-color: transparent;
  text-shadow: 5px 5px black;
  color: white;
  margin: auto;
  font-size: 56px;
}
h4.homeHeaders {
  text-shadow: 5px 5px black;
  padding-top: 5rem;
  color: white;
  text-align: center;
  font-size: 36px;
}

.nav-container {
  display: flex;
}

.menuButtons {
  font-size: 48px;
}

.Card {
  padding-top: 50rem;
}

.test
{
  padding-top: 7rem;
  font-size: 5rem;
  text-align: center;
}

.test1
{
  text-align: center;
  padding-top: 5rem;
}